/*-----------------------------------*\
    #RESET
  \*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background: #f9d1d7;
}

.main {
    margin: 5% auto;
    background: #f1b814;
    width: 80%;
    border-radius: 10px;
    align-items: center;
}

.title {
    font-size: 4rem;
    color: #ae530c;
    text-align: center;
    text-shadow: -2px -1px 24px #f9d1d7;
    font-weight: 900;
    font-family: 'Darker Grotesque', sans-serif;
margin-bottom: 0 !important;
}

.story {
    color: #bd1e51;
    margin: 0 auto;
    margin-bottom: 2%;
    width: 80%;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Merriweather', serif;
}

.MyThoughts {
    font-family: 'Lobster', Cambria;
    font-weight: 900 ;
    color: #8d1274;
    padding-bottom: 4% ;
}

.underline {
text-decoration: underline;
text-decoration-color: #aa3636;
background: #a0000095;
color: aqua;
}
@media screen and (max-width: 450px) {

    /* CSS rules for mobile screens */
    .story {
        font-size: 0.8rem;
    }

    .title{
        font-size: 2rem;
    }

}
