/*-----------------------------------*\
    #RESET
  \*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background: #EEE3CB;
}

.main {
    margin: 5% auto;
    background: #9BABB8;
    width: 80%;
    border-radius: 10px;
    align-items: center;
 }

.title {
    font-size: 4rem;
    color: #D7C0AE;
    text-align: center;
    text-shadow: -2px -1px 24px rgba(150,126,118,1);
    font-weight: 900;
    font-family: 'Darker Grotesque', sans-serif;
    
}

.story{
    color: #a25e47;
    font-weight: 900;
    margin: 0 auto;
    margin-bottom: 2%;
    width: 80%;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Merriweather', serif;
}

.MyThoughts{
 font-family: 'Lobster', cursive;
    ;
}